/* font family */
@font-face {
    font-family: "tajwal";
    src: url("Tajawal-Regular.ttf") format("truetype");
}

/* Global Inputs & Selects */
input,
select {
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #d6d4d4;
    padding: 10px;
}

/* Inputs Widths */
.email input,
.password input,
.country input {
    width: 90%;
}

.age input {
    width: 100%;
    margin-bottom: 20px;
}

.gender select {
    width: 100%;
    margin-bottom: 20px;
}

/* Form Sections */
.age,
.gender {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}

.gender {
    margin-left: 30px;
}

/* Form & Layout */
body {
    font-family: "tajwal";
    height: 100vh;
    background: url(back.jpg) no-repeat center center;
    background-size: cover;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: #070f12e5;
    backdrop-filter: blur(10px);
    text-align: center;
}

h1, h2 {
    letter-spacing: 3px;
}

hr {
    margin: 20px 0;
    opacity: 20%;
}

/* Buttons */
.sign-up {
    margin-left: 80%;
    padding: 5px 2px;
    border: 0;
    border-radius: 5px;
    background-color: #00b847;
    color: white;
}

.reset {
    padding: 5px 2px;
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
}

/* OS Section */
.os {
    text-align: left;
}

.os h2 {
    text-align: center;
}
